.container{
    min-height: 20px;
    height: 6vh;
    background-color: rgba(255, 255, 255, 0.96);
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-right: 1vh;*/
}

.name_of_page {
    font-size: 1.5rem;
    font-weight: 700;
}

.dropdown {
    width: fit-content;
    font-size: 1.2rem;
    padding: 0 0.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #287ecf;
    text-align: center;
}

.dropdown:focus {
    text-align: start;
}

.addNote_button{
    width: 45%;
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #287ecf;
    background-color: white;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.addNote_button:hover{
    color: white;
    background-color: rgb(40, 126, 207);
}

.buttons_container{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.extra_info {
    margin-left: 0.5vw;
    font-weight: 500;
}

.name_container{
    display: flex;
}

.right_side_navbar{

}