.edit_note_page{
    width: 99%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0 0 1px #282c34;
    z-index: 13;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

.page_container{
    /*background-color: white;*/
    display: grid;
    grid-template-columns: 70% 29%;
    grid-gap: 1rem;
    width: 100%;
    font-size: 1rem;
}

.no_cards{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_cards_text{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
}

.notes_table{
    display: table;
    width: 100%;
    box-shadow: 0 0 2px #808080;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    /*border: 1px solid black;*/
    margin-bottom: 2.3rem;
    margin-left: 0.5rem;
    height: fit-content;

}

.icon_value_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_icon_container{
    width: 60%;

}

.active{
    display: block;
}

.not_active{
    display: none;
}


.names_of_params {

    display: grid;
    grid-template-columns: minmax(40px, 0.3fr) repeat(5, minmax(100px, 1fr)) minmax(50px, 0.5fr);

    background-color: #287ecf;
    box-sizing: border-box;
    grid-gap: 1px;
    color: white

}

.name_of_column {
    display: flex;
    height: 100%;
    font-size: 1rem;
    /*border: 1px solid #ababab;*/
    font-weight: 500;
    /*box-shadow: 0 0 0 1px #ababab;*/
    align-content: center;
    justify-content: flex-start;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.values_of_params_container{
    width: 100%;
}

.values_of_params {
    display: grid;
    grid-template-columns: minmax(40px, 0.3fr) repeat(5, minmax(100px, 1fr)) minmax(60px, 0.6fr);
    background-color: white;
    grid-auto-rows: minmax(40px, auto);
    box-sizing: border-box;
    grid-gap: 1px;
    margin-top: 1px;


}

.values_of_params:nth-child(even) {
    background-color: whitesmoke;
}


.icon {
    width: 100%;
    margin: 0;
    padding: 0;
}

.tools_container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.tool_button{
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.tool_button:active{
    background-color: #282c34;
}

.param_value_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*margin-top: 0.3rem;*/
    /*padding-left: 0.5vw;*/
    /*padding-right: 0.5vw;*/
    /*border: 1px solid #ababab;*/
    /*box-shadow: 0 0 0 1px #ababab;*/
    padding: 0.3rem;
    max-height: 3.5rem;
    overflow-x: auto; /* Горизонтальний скролбар при необхідності */
    overflow-y: auto;
}

.content_value {

}


.param_value_container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.param_value_container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.param_value_container::-webkit-scrollbar-thumb {
    background: #888;
}

.param_value_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 0 1px #ababab;
}

.icon {
    width: 100%;
    margin: 0;
    padding: 0;
}

.svg_icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}